body {
    margin: 60px auto;
    width: 70%;
    background-color: #add8e6;
 }

p {
    font-size: 18px;
    line-height: 1.4em;
    color: white;
    padding: 0;
    text-align: center;
}

.name {
	display: block;
	margin: 0 auto;
	width: 90%;
	background-color: #63b4cf;
}

#name {
	display: block;
	font-size: 30px;
	margin: 0 auto;
	width: 90%;
}

#studies {
	display: block;
	margin: 0 auto;
	width: 75%;
}

.studies {
	display: block;
	margin: 0 auto;
	width: 75%;

}

#cs {
	display: block;
	margin: 0 auto;
	width: 75%;
	background-color: #3ca1c3;	
}

#biopsych {
	display: block;
	margin: 0 auto;
	width: 75%;
	background-color: #3691b0;	
}

#premed {
	display: block;
	margin: 0 auto;
	width: 75%;
	background-color: #30819c;	
}

.profile_photo {
	width: 50%;
	display: block;
	margin: 0 auto;
}

#profile_photo {
	display: block;
	margin: 0 auto;
	width: 350px;
	height: 250px;
}

.bio {
	text-align: left;
	display: inline-block;
	font-size: 18px;
	padding-top: 50px;
	color: white;
}

.resume {
	text-align: right;
	display: inline-block;
	font-size: 18px;
	padding-top: 50px;
	color: white;
}
