body {
    margin: 60px auto;
    width: 70%;
    background-color: #add8e6;
 }

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
}

.name {
	display: block;
	margin: 0 auto;
	width: 50%;
}

#name {
	display: block;
	margin: 0 auto;
	width: 50%;
}

#studies {
	display: block;
	margin: 0 auto;
	width: 75%;
}

.studies {
	display: block;
	margin: 0 auto;
	width: 75%;
	background-color: #3ca1c3;
}

.profile_photo {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 250px;
}
