/*body {
    margin: 60px auto;
    width: 70%;
 }*/

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #DE0000;
}

.name {
	display: block;
	margin: 0 auto;
	width: 800px;
}

/*#name, #studies {
	display: block;
	margin: 0 auto;
	width: 50%;
}*/

.studies {
	display: block;
	margin: 0 auto;
	width: 75%;
}
